@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?pkznwi');
  src:  url('fonts/icomoon.eot?pkznwi#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?pkznwi') format('truetype'),
    url('fonts/icomoon.woff?pkznwi') format('woff'),
    url('fonts/icomoon.svg?pkznwi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pause:before {
  content: "\e900";
}
.icon-play_arrow:before {
  content: "\e901";
}
.icon-stop:before {
  content: "\e902";
}
.icon-replay_10:before {
  content: "\e903";
}
